*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
.login{
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 0 2rem;
}
.formmain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 6rem 5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 4px rgb(134, 132, 132) ;
}
.mail,.id{
    margin-bottom: 10px;
}
#email,#id{
    padding: 0.5rem;
    width: 100%;
}
#logbtn{
    display: flex;
    justify-content: center;
    padding: 8px 13px;
    
}
/*login*/
#signup{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signform{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    padding: 6rem 5rem;
    border-radius: 10px;
    width: 40%;
    box-shadow: 2px 2px 3px 4px rgb(134, 132, 132) ;
}
.signmail,.signid{
    margin-bottom: 10px;
}
#signemail,#signid{
    padding: 0.5rem;
    width: 100%;
}
#signbtn{
    display: flex;
    justify-content: center;
    padding: 8px 13px;
    
}